body {
    font-family: 'Palanquin', sans-serif;
}

.jumbotron{
  background-image: url("../assets/landing.jpg");
  text-align: center;
  color: white;
  margin: 0

#pa
}
#breakfast{
  color: white;
  background-image: url("../assets/foodtop/breakfast.jpg");
  text-align: center;
  background-size: cover;


}
#lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  background-size: cover;
  text-align:center;
  color: white;
}
#dinner{
  background-image: url("../assets/foodtop/dinner.jpg");
 background-size: cover;
 text-align:center;
 color: white;
}
.section2{
  width:100%;
  height:100px;
}
.section3{
  padding: 100px 100px;
  height: 500px;
}
.jumbotron1{
  background-image: url("../assets/foodsBg.jpg");
  align-content: center;
  background-attachment: cover;
  height: 550px
}
#beefburger{
  padding: 50px;
}
.container{
  padding:25px 25px;
  background-color: white;
 text-align: center;
}

}
