body {
    font-family: 'Palanquin', sans-serif;
}

.jumbotron{
  background-image: url("../assets/landing.jpg");
  text-align: center;
  color: white;
  margin: 0
}
#party hour{
  background-color: orange;
  
}
