body {
    font-family: 'Palanquin', sans-serif;
}

.jumbotron{
  background-image: url("../assets/landing.jpg");
  text-align: center;
  color: white;
  margin: 0

#pa
}
#breakfast{
  color: white;
  background-image: url("../assets/foodtop/breakfast.jpg");
  text-align: center;
  background-size: cover;


}
#lunch{
  background-image: url("../assets/foodtop/lunch.jpg");
  background-size: cover;
  text-align:center;
  color: white;
}
#dinner{
  background-image: url("../assets/foodtop/dinner.jpg");
 background-size: cover;
 text-align:center;
 color: white;
}
.card{
  margin: 2px, 20px

}

}
